<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521552079098-fkddsbc8fr8dr1oqdvsbnprqinmt99ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521552079098-fkddsbc8fr8dr1oqdvsbnprqinmt99ge</string>
	<key>API_KEY</key>
	<string>AIzaSyDj_k8BP7VhvZdJkuu1yhV8s_AescRttOk</string>
	<key>GCM_SENDER_ID</key>
	<string>521552079098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khue.Money-Management</string>
	<key>PROJECT_ID</key>
	<string>money-management-54445</string>
	<key>STORAGE_BUCKET</key>
	<string>money-management-54445.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521552079098:ios:982ce6d9138166a0b9c143</string>
</dict>
</plist>